/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* common */
.container{
    max-width: 1400px;
    margin: auto;
}
a{
    text-decoration: none;
    color: white;
}

/* typography */
body{
    font-family: 'Roboto', sans-serif;
}

/* header*/
header{
    background-color: #FF6900;
}
header .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 70px;
    vertical-align: middle;
    padding: 10px 0;
    font-size: 12px;
}
.logo{
    max-width: 60%;
}
.logo img{
    width: 100px;
}
.header-icons{
    min-width: 20%;
    color: white;
    text-align: end;
}
header .col{
    min-width: 20%;
}
header a{
    padding-right: 5px;
}
header i{
    padding-left: 5px;

}

/* main */

/* footer */